
<div class="container">
<div class="row flex-lg-nowrap">
  <div class="col">
    <div class="row">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <div class="e-profile">
              <div class="row">
                <div class="col-12 col-sm-auto mb-3">
                  <div class="mx-auto" style="width: 140px;">
                    <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                     <img src="https://bootdey.com/img/Content/user_2.jpg" alt="">
                    </div>
                  </div>
                </div>
                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">hajar ennassiry</h4>
                    <p class="mb-0">id sportif</p>
                    <div class="mt-2">
                      <button class="btn btn-info" type="button">
                        <i class="fa fa-fw fa-camera"></i>
                        <span>Change Photo</span>
                      </button>
                    </div>
                  </div>
                  <div class="text-center text-sm-right">
                   <div class="text-muted"><small>Joined 01 JAN 2020</small></div>
                  </div>
                </div>
              </div>
            
              <div class="tab-content pt-3">
                <div class="tab-pane active">
                  <form class="form" novalidate="">
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col">

                            <div class="form-group">
                              <label>Full Name</label>
                              <input class="form-control" type="text" name="name" placeholder="hejo" >
                            </div>
                           
                          </div>
                          <div class="col">

                            <div class="form-group">
                              <label>date de naissance</label>
                              <input class="form-control" type="date" name="datenai" >
                            </div>


                           
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                      
                            <div class="form-group">
                              <label>CIN</label>
                              <input class="form-control" type="text" name="username" placeholder="" >
                            </div>



                          </div>
                          <div class="col">
                           

                            <div class="form-group">
                              <label>Categorie d'age</label>
                              <input class="form-control" type="text" name="name" placeholder="hejo" >
                            </div>


                          </div>
                        </div>
                        
                       
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col d-flex justify-content-end">
                        <button class="btn btn-info" type="file">Save Changes</button>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3 mb-3">
        <div class="card mb-3">
          <div class="card-body">
            <div class="px-xl-3">
              <button class="btn btn-block btn-info" routerLink="/return">
                <i class="fa fa-sign-out"></i>
                <span> return</span>
              </button>
            </div>
          </div>
        </div>
        
      </div>
    </div>

  </div>
</div>
</div>