<div class="container">
   
    <div class="row">
        <div class="col-md-2">
            <div class="text-center px-xl-3">
                <button class="btn btn-info btn-block" type="button" data-toggle="modal" data-target="#user-form-modal"><i class="fa fa-plus codeply fa-fw"></i> club</button>
              </div>
            
        </div>
        <div class="col-md-10">
            <div class="osahan-account-page-right shadow-sm bg-white p-4 h-100">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane  fade  active show" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                        <h4 class="font-weight-bold mt-0 mb-4">Club alpha</h4>
                        <div class="bg-white card mb-4 order-list shadow-sm">
                            <div class="gold-members p-4">
                                <a >
                                </a>
                                <div class="media">
                                    <a >
                                        <img src="https://img.icons8.com/color/50/000000/liverpool-fc.png">
                                    </a>
                                    <div class="media-body">
                                        <a >
                                            <span class="float-right text-info">crated 29-01-88 <i class="icofont-check-circled text-success"></i></span>
                                        </a>
                                        <h6 class="mb-2">
                                            <a ></a>
                                            <a  class="text-black">bla bla bla </a>
                                        </h6>
                                        <p class="text-gray p-2"><i class="icofont-location-arrow"></i> 730 S Mendenhall Rd, Memphis, TN 38117, USA
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                        </p>
                                        <hr>
                                        <div class="text-right">    
                                            <button class="btn btn-info mr-2 text-right" type="button" data-toggle="modal" data-target="#user-form-modal"><i class="fa fa-eye codeply fa-fw"></i>
                                            </button>
                                            <button class="btn btn-info mr-1 text-right" type="button" data-toggle="modal" data-target="#user-form-modal"><i class="fa fa-trash codeply fa-fw"></i></button>
                        
                        
                                           </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>