
<div class="container">
    <div class="col-md-2">
        <div class="text-center px-xl-3">
            <button class="btn btn-info btn-block" type="button" data-toggle="modal" data-target="#user-form-modal"><i class="fa fa-plus codeply fa-fw"></i> club</button>
          </div>
        
    </div>
        <div class="row">
        <div class="col-md-6 mb-2">
            <div class="card widget-user">
                <div class="card-body">
                    <img src="https://img.icons8.com/color/48/000000/basketball-2.png" class="img-fluid d-block rounded-circle avatar-md" alt="user">
                    <div class="wid-u-info">
                        <h5 class="mt-3 mb-1">sport 0</h5>
                   
                   <div class="text-right">    
                        <button class="btn btn-info mr-2 text-right" type="button" data-toggle="modal" data-target="#user-form-modal"><i class="fa fa-eye codeply fa-fw"></i>
                        </button>

                        <button class="btn btn-info  text-right" type="button" data-toggle="modal" data-target="#user-form-modal"><i class="fa fa-trash codeply fa-fw"></i>
                        </button>
                   </div>
                      
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-md-6 mb-2">
            <div class="card widget-user">
                <div class="card-body">
                    <img src="https://img.icons8.com/color/48/000000/football2--v1.png" class="img-fluid d-block rounded-circle avatar-md" alt="user">
                    <div class="wid-u-info">
                        <h5 class="mt-3 mb-1">sport 1</h5>
                   
                   <div class="text-right">    
                       <button class="btn btn-info mr-2 " type="button" data-toggle="modal" data-target="#user-form-modal"><i class="fa fa-eye codeply fa-fw"></i></button>
                       <button class="btn btn-info  text-right" type="button" data-toggle="modal" data-target="#user-form-modal"><i class="fa fa-trash codeply fa-fw"></i>
                       </button>
                    </div> 
         
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-md-6 mb-2">
            <div class="card widget-user">
                <div class="card-body">
                    <img src="https://img.icons8.com/color/48/000000/basketball.png" class="img-fluid d-block rounded-circle avatar-md" alt="user">
                    <div class="wid-u-info">
                        <h5 class="mt-3 mb-1">sport 2</h5>
                   
                   <div class="text-right">    
                        <button class="btn btn-info mr-2 text-right" type="button" data-toggle="modal" data-target="#user-form-modal"><i class="fa fa-eye codeply fa-fw"></i>
                        </button>
                        <button class="btn btn-info  text-right" type="button" data-toggle="modal" data-target="#user-form-modal"><i class="fa fa-trash codeply fa-fw"></i>
                        </button>
                   </div>
                      
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-md-6">
            <div class="card widget-user">
                <div class="card-body">
                    <img src="https://img.icons8.com/color/48/000000/beach-ball.png" class="img-fluid d-block rounded-circle avatar-md" alt="user">
                    <div class="wid-u-info">
                        <h5 class="mt-3 mb-1">sport 3</h5>
                   
                   <div class="text-right">    
                       <button class="btn btn-info mr-2 " type="button" data-toggle="modal" data-target="#user-form-modal"><i class="fa fa-eye codeply fa-fw"></i></button>
                       <button class="btn btn-info  text-right" type="button" data-toggle="modal" data-target="#user-form-modal"><i class="fa fa-trash codeply fa-fw"></i>
                       </button>
                    </div> 
         
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    
    

    <div class="row">
        <div class="col-md-6">
            <div class="card widget-user">
                <div class="card-body">
                    <img src="https://img.icons8.com/color/48/000000/tennis-ball.png" class="img-fluid d-block rounded-circle avatar-md" alt="user">
                    <div class="wid-u-info">
                        <h5 class="mt-3 mb-1">sport 4 </h5>
                   
                   <div class="text-right">   
                       <button class="btn btn-info mr-2  text-right" type="button" data-toggle="modal" data-target="#user-form-modal"><i class="fa fa-eye codeply fa-fw"></i></button>
                       <button class="btn btn-info  text-right" type="button" data-toggle="modal" data-target="#user-form-modal"><i class="fa fa-trash codeply fa-fw"></i>
                       </button>
                    </div>  
         
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card widget-user">
                <div class="card-body">
                    <img src="https://img.icons8.com/color/48/000000/sport.png" class="img-fluid d-block rounded-circle avatar-md" alt="user">
                    <div class="wid-u-info">
                        <h5 class="mt-3 mb-1">sport 5</h5>
                   
                   <div class="text-right">    
                       <button class="btn btn-info mr-2 text-right" type="button" data-toggle="modal" data-target="#user-form-modal"><i class="fa fa-eye codeply fa-fw"></i></button>
                       <button class="btn btn-info  text-right" type="button" data-toggle="modal" data-target="#user-form-modal"><i class="fa fa-trash codeply fa-fw"></i>
                       </button>
                   </div> 
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>
